/* Colors */
/* Font sizes */
/* Fonts */
body {
  margin: 0;
  background-color: #f5f5f2;
  font-family: "Open Sans", Helvetica, Arial;
}

.container {
  display: -ms-grid;
  display: grid;
  color: lightgray;
  -ms-grid-columns: 1fr 11fr;
      grid-template-columns: 1fr 11fr;
  -ms-grid-rows: 50px 1fr 1fr;
      grid-template-rows: 50px 1fr 1fr;
  grid-template-areas: "sidebar top-bar" "sidebar content" "sidebar content";
}

.sidebar {
  margin: 0;
  width: 100%;
  grid-area: sidebar;
}

.top-bar {
  margin: 0;
  grid-area: top-bar;
}

.content {
  grid-area: content;
}

.general-stat {
  grid-area: general-stat;
  border: 1px black solid;
  margin-right: 10px;
}

.general-links {
  grid-area: general-links;
  border: 1px black solid;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar {
  width: 190px;
  height: 100%;
  background-color: #191919;
  padding-top: 15px;
  position: fixed;
}

.sidebar .text {
  width: 50%;
  padding-left: 16px;
}

.sidebar .text img {
  float: left;
}

.sidebar .list-menu {
  height: 322px;
  border-bottom: 2px solid #9c9c9c;
}

.sidebar .list-menu ul {
  margin-top: 30px;
  padding-left: 0;
}

.sidebar .list-menu ul li {
  height: 30px;
  margin: 4px 0 12px 0;
}

.sidebar .list-menu ul li:hover {
  background-color: #9c9c9c;
  border-radius: 0 30px 30px 0;
  color: white;
}

.sidebar .list-menu ul li a {
  margin: 0;
  font-size: 13px;
  list-style-type: none;
  text-decoration: none;
  color: grey;
}

.sidebar .list-menu ul li a:hover {
  list-style-type: none;
  border-left: 4px #db7908 solid;
  color: white;
}

.sidebar .list-menu ul li a:hover img {
  filter: invert(100%);
}

.sidebar .list-menu ul li a img {
  padding-left: 18px;
  padding-top: 4px;
  margin-right: 10px;
  height: 16px;
  width: 18px;
  filter: invert(70%);
}

.under-menu {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  margin-left: 11%;
}

.under-menu p {
  margin: 10px 0;
}

.under-menu .nameMenager {
  font-size: 14px;
  color: #d4d4d4;
}

.under-menu .listMenagers {
  width: 100%;
  margin: 11px 0 0 19%;
  display: inline-block;
}

.under-menu .listMenagers img {
  filter: invert(85%);
  height: 20px;
  margin-right: 10px;
  display: inline-block;
}

.hidden {
  visibility: collapse;
  max-height: 0;
}

.button {
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 38px;
  top: 8px;
}

.button .hamb-menu {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
}

.button .hamb-menu .hamb-box {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.button .hamb-menu .hamb-box .box-line {
  width: 100%;
  height: 3px;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .2s .3s ease-in-out;
}

.button .hamb-menu .hamb-box .box-line::before,
.button .hamb-menu .hamb-box .box-line::after {
  width: 100%;
  height: 3px;
  background-color: yellowgreen;
  position: absolute;
  content: '';
}

.button .hamb-menu .hamb-box .box-line::before {
  top: -6px;
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.button .hamb-menu .hamb-box .box-line::after {
  top: 6px;
  left: 0;
  transition: transform .3s .3s ease-in-out;
}

.button .hamb-menu .hamb-box .box-line.active {
  background-color: transparent;
}

.button .hamb-menu .hamb-box .box-line.active::before {
  transform: translateY(6px) rotate(125deg);
}

.button .hamb-menu .hamb-box .box-line.active::after {
  transform: translateY(-6px) rotate(-125deg);
}

.top-bar {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  color: #9c9c9c;
  font-weight: bold;
  -ms-grid-columns: 47fr 13fr 4fr 12fr 4fr;
      grid-template-columns: 47fr 13fr 4fr 12fr 4fr;
  grid-template-areas: "blank cash notification profile logout";
}

.blank-col {
  content: '';
  height: 60px;
  background-color: white;
  grid-area: blank;
}

.cash {
  height: 60px;
  background-color: white;
  float: left;
  grid-area: cash;
  margin: 0 1px;
}

.cash img {
  padding: 19px 4px 0 22px;
  height: 18px;
  float: left;
}

.cash .wallet-value {
  margin: 18px 10px 0 16px;
  font-size: 18px;
  float: left;
}

.cash .image-menu-wallet {
  height: 8px;
  padding: 28px 0 0 12px;
}

.notification {
  height: 60px;
  background-color: white;
  float: left;
  grid-area: notification;
}

.notification img {
  width: 100%;
  height: 20px;
  padding: 20px 0 0 0;
}

.profile {
  height: 60px;
  background-color: white;
  margin: 0 1px;
  grid-area: profile;
}

.profile img {
  height: 20px;
  padding: 20px  0 0 14px;
  float: left;
}

.profile .user-name {
  margin: 22px 0 0 15px;
  font-size: 13px;
  float: left;
}

.logout {
  float: left;
  background-color: white;
  grid-area: logout;
  margin: 0;
}

.logout img {
  height: 14px;
  padding: 22px 0 0 20px;
}

.content {
  display: -ms-grid;
  display: grid;
  font-family: "Open Sans", Helvetica, Arial;
  height: 90vh;
  width: 90.1%;
  margin: 30px 2% 0 8.4%;
  -ms-grid-rows: 1fr 11fr;
      grid-template-rows: 1fr 11fr;
  grid-template-areas: "general-statistic " "links";
  grid-gap: 1fr;
}

.general-statistic {
  grid-area: general-statistic;
  width: 100%;
  margin-top: 0;
  display: inline-block;
  font-size: 16px;
}

.general-statistic p {
  padding-top: 14px;
}

.general-statistic .title-general-statistic {
  background-color: white;
  height: 46px;
  width: 100%;
  margin-bottom: 1px;
}

.general-statistic .title-general-statistic p {
  margin-top: 0;
  left: 10px;
  padding-left: 20px;
}

.date {
  width: 100%;
  height: 108px;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date .date-picker {
  width: 31%;
  height: 42px;
  margin: 0;
  padding: 32px 0 0 32.8%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date .date-picker .border-pickers {
  width: 100%;
  height: 39px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px lightgray solid;
}

.date .date-picker .border-pickers .first-input, .date .date-picker .border-pickers .second-input {
  width: 42%;
  height: 38px;
  border: none;
  margin-right: 3.5%;
}

.date .date-picker .border-pickers .first-input input, .date .date-picker .border-pickers .second-input input {
  height: 100%;
  width: 100%;
  border: none;
}

.date .date-picker .border-pickers .icon-calendar {
  width: 4%;
  height: 12px;
  margin-top: 8px;
}

.date .date-picker .border-pickers .line {
  content: none;
  width: 0.7%;
  height: 30px;
  border-left: 1px solid lightgray;
  margin: 4px 0.6%;
}

.date .refresh-button {
  background-color: orange;
  height: 40px;
  width: 40px;
  margin: 31px 0 0 1.2%;
  border-radius: 3px;
}

.date .refresh-button img {
  height: 20px;
  width: 20px;
  margin: 10px 0 0 10px;
  filter: invert(100%);
}

.chart {
  margin-top: 1px;
  width: 100%;
  height: 640px;
  background-color: white;
  display: inline-block;
}

.chart .table {
  width: 82%;
  padding-left: 18%;
  padding-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chart .table .name-cell {
  height: 24px;
  width: 315px;
  font-size: 18px;
  margin: 0 60px 18px 0;
  border-bottom: 1px grey solid;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chart .table .name-cell span {
  width: 50%;
  text-align: left;
}

.chart .table .name-cell .value-cell {
  height: 20px;
  width: 50%;
  text-align: right;
}

.chart .title-charts {
  width: 30%;
  height: 30px;
  margin: 40px 0 0 17.7%;
}

.chart .chart-images {
  margin: 28px 0 0 18%;
}

.link-row {
  grid-area: links;
  margin-top: 20px;
}

.link-row .links-title {
  width: 100%;
  height: 50px;
}

.link-row .links-title p {
  transform: translateY(-40%);
  padding-left: 20px;
}

.link-row .links {
  width: 100%;
}

.link-row {
  grid-area: links;
  height: 600px;
}

.link-row .links-title {
  width: 100%;
  margin-top: 0;
  display: inline-block;
  font-size: 16px;
  background-color: white;
}

.link-row .links-title p {
  padding-top: 14px;
}

.links {
  background-color: white;
  width: 100%;
  height: 800px;
}

.links button {
  width: 11.9%;
  height: 40px;
  margin: 20px 0 0 44%;
  border: none;
  border-radius: 4px;
  background-color: orange;
}

.links button p {
  margin: 0;
  padding: 2px 0 0 9%;
  color: white;
  font-size: 16px;
}

.links .links-list {
  width: 80%;
  height: 250px;
  margin-top: 23px;
}

.links .links-list li {
  width: 80%;
  height: 57px;
  margin-left: 18%;
  border-top: 1px lightgray solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr;
      grid-template-columns: 2fr 3fr 1fr;
  grid-template-areas: "name-link link icon-link";
}

.links .links-list li .name-position {
  grid-area: name-link;
  padding: 16px 0 0 15px;
  color: #9c9c9c;
}

.links .links-list li .link-position {
  grid-area: link;
  padding: 17px 0 0 32%;
}

.links .links-list li .link-position a {
  font-size: 14px;
  text-decoration: none;
  color: #f5f5f2;
  font-family: "Open Sans", Helvetica, Arial;
}

.links .links-list li .icon-position {
  grid-area: icon-link;
  width: 60px;
  padding: 17px 0 0 0;
}

.links .links-list li .icon-position img {
  display: none;
  width: 20px;
  height: 20px;
}

.links .links-list .last-line {
  border-bottom: 1px lightgray solid;
}
/*# sourceMappingURL=style.css.map */