body {
    margin: 0;
    
    background-color: $light-gray
    ;
    font-family: $brand-font;
}

// general grid //

.container {
    display: grid;
    color: lightgray;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-column-gap: 0.2%;
    grid-template-areas:
    "sidebar top-bar"
    "sidebar content"
    "sidebar content";
    
}
    .sidebar {
        margin: 0 ;
        width: 190px;
        grid-area: sidebar;  
    }
    .top-bar {
        margin: 0;
        grid-area: top-bar;

    }
    .content {
        grid-area: content;
     
    }

    //-------------------------//

    .general-stat {
        grid-area: general-stat;
        border: 1px black solid;
        margin-right: 10px;
    }

    .general-links {
        grid-area: general-links;
        border: 1px black solid;
        margin-right: 10px;
        margin-bottom: 10px;
    }