.button {
    width: 40px;
    height: 30px;
    
    top: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    .hamb-menu {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        margin: 0;

        .hamb-box {
            width: 35px;
            height: 24px;
            display: inline-block;
            position: relative; 
            
            .box-line {
                @include box-line;

                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: background-color .2s .3s ease-in-out;
            }

            .box-line::before,
            .box-line::after {
                @include box-line;
                content: '';
                
            } 

            .box-line::before {
                top: -10px;
                left: 0;
                transition: transform .2s .2s ease-in-out;
                } 

            .box-line::after {
                top: 10px;
                left: 0;
                transition: transform .3s .3s ease-in-out;
            }  
             .box-line.active {
                background-color: transparent;
              }
            .box-line.active::before {
                transform: translateY(10px) rotate(125deg);
              }
              
              .box-line.active::after {
                transform: translateY(-10px) rotate(-125deg);
              }
        }
    } 
}