//-----global-----/
.sidebar {
    width: 190px;
    height: 100vh;
    background-color: $paragraph-color;
    
    .container-sidebar {
        height: 100%;
        width: 190px;
        position: fixed;
        padding-top: 15px;
        background-color: $paragraph-color;

        .text {
            width: 50%;
            padding-left: 16px;    

            img {
                float: left;
            }
        }

        //-----menu----///
        
        .list-menu {
            height: 322px;
            border-bottom: 2px solid $dark-gray;
        
            ul {
                margin-top: 30px;
                padding-left: 0;

                li {
                    height: 34px;
                    margin: 8px 0;
                    border-left: 3px $paragraph-color solid;

                    &:hover {
                        background-color: $select-sidebar-menu;
                        color: white;
                        border-left-color: $orange;
                    }
                
                    a {
                        height: 30px;
                        margin: 0;
                        font-size: 13px;
                        list-style-type: none;
                        text-decoration: none;
                        color: grey; 
                    }
                        
                        img {
                            margin: 5px 0 0 10px;
                            height: 12px;
                            width: 27px;
                            filter: invert(70%);
                            float: left;
                        }

                        span {
                            padding: 0 0 0 8px;
                            height: 30px;
                            
                        }
                    }
                    
                    li:hover a{
                        list-style-type: none ;    
                        color: white;

                        img {
                            filter: invert(100%);
                        }    
                    }
                }
            }
        }

    //----------menagerList----------//

    .under-menu {
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        margin-left: 11%;

        p {
            margin: 10px 0;
        }

        .nameMenager {
            font-size: 14px;
            color: $link;
        }

        .listMenagers {        
            width: 100%;
            margin: 11px 0 0 19%;
            display: inline-block;

            img {
                filter: invert(85%);
                height: 20px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }

    .hidden {
        display: none;
    }
}
@import '../components/burger-menu';